.page1, .page2 {
  height: 100vh;
}
.page2{
   background-color: rgba(20, 22, 50, 1); 
}

body {
  background-color: rgba(24, 46, 111, 1);
  margin: 0;
  height: 100vh;
  position: relative;
}


h1 {
  position: relative;
  z-index: 2;
  font-size: 25px;
  font-weight: 300;
  background: linear-gradient( 70deg, #E9D0D0, #A149FF, #9924FF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0;
  margin-left: 140px;
  top: 40px;
}  

.box {
  position: absolute;
  bottom: 0;         
  left: 0;
  width: 100%;       
  height: 25%;        
  background: rgba(20, 22, 50, 1); 
  z-index: 0;         
}


h2 {
   position: relative;
   z-index: 2;
   font-size: 130px;
   font-weight: 250;
   background: linear-gradient( 70deg, #E9D0D0, #A149FF, #9924FF);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   transform: rotate(-90deg) translate(-690px, 30px);
   transform-origin: top left;
    
}

.box1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 10%;
  background: rgba(20, 22, 50, 1);
  z-index: 0;        
}

.line {
  position: absolute;
  z-index: 1;
  background: linear-gradient(90deg, #E9D0D0, #b776f8, #ffffff);
  top: 80px; 
  left: 50px; 
  width: 1800px;
  height: 1px;
  
}

h3 {
  position: relative;
  z-index: 2;
  font-size: 25px;
  font-weight: bold;
  background: linear-gradient(176deg, #E9D0D0, #A149FF, #9924FF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-left: 1100px;
  top: -350px;
  transition: background-color 0.3s ease;
}

h4 {
  position: relative;
  z-index: 2;
  font-size: 25px;
  font-weight: bold;
  background: linear-gradient( 175deg, #E9D0D0, #A149FF, #9924FF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-left: 1280px;
  top: -410px;
}

h5 {
  position: relative;
  z-index: 2;
  font-size: 25px;
  font-weight: bold;
  background: linear-gradient( 174deg, #E9D0D0, #A149FF, #9924FF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-left: 1500px;
  top: -480px;
}

h6 {
  position: relative;
  z-index: 2;
  font-size: 25px;
  font-weight: bold;
  background: linear-gradient( 70deg, #E9D0D0, #A149FF, #9924FF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-left: 1700px;
  top: -565px;
}

h7 {
  position: relative;
  z-index: 4;
  font-size: 70px;
  font-weight: bold;
  background: linear-gradient( 70deg, #E9D0D0, #A149FF, #9924FF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  left: 1400px;
  top: 180px;
}

h8 {
  position: absolute;
  z-index: 4;
  font-size: 70px;
  font-weight: 400;
  line-height: 60px;
  background: linear-gradient( 20deg, #E9D0D0, #A149FF, #9924FF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  left: 1400px;
  top: 280px;
}

.arrow {
  width: 100px;
  position: absolute;
  cursor: pointer;
  z-index: 2;
  transform: rotate(180deg);
  bottom: 190px;
  left: 85%;
  transition: transform 0.3s ease;
}

.java {
  width: 70px;
  height: auto;
  position: absolute;
  z-index: 3;
  bottom: 880px;
  left: 50px;
}

.zero {
  width: 1300px;
  height: auto;
  position: absolute;
  z-index: 0;
  bottom: 120px;
  left: 10%;
}
.line1 {
  position: absolute;
  z-index: 2;
  background: linear-gradient(90deg, #0099ff, #b776f8, #350072);
  top: 260px; 
  left: 1400px; 
  width: 340px;
  height: 1px;
}

h3, h5, h4, h6 {
  font-weight: bold;
  background: linear-gradient(10deg, #f1cccc, #A149FF, #9924FF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease;
  width: 130px;
  
}


h3:hover, h4:hover, h5:hover, h6:hover {
  width: 120px;
  background: linear-gradient(10deg, #ffffff, #d8caf0, #b792d6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.arrow:hover {
  transform: rotate(180deg) scale(1.06); 
}


h9 {
  position: absolute;
  font-size: 70px;
  z-index: 2;
  font-weight: bold;
  color: rgba(246, 199, 199, 1);
  left: 750px;
  top: 1020px;
}

#typing {
  position: absolute;
  font-size: 70px;
  font-weight: bold;
  color: white;
  border-right: 3px solid white;
  width: fit-content;
  white-space: nowrap;
  overflow: hidden;
  animation: blink 0.6s infinite;
  
}

@keyframes blink {
  50% { border-color: transparent; }
}